<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce app</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/Home.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="search">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div id="containermain" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-click="ShowHide()" class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span
                            class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="headingpath" class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>select your location
                            </a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                Help</a>
                        </li>
                        <li><a href="#"><button type="button" ng-click="logInEnter()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log In</button></a>
                        </li>
                        <li style="color: white;"><a href="#"><i type="button" ng-click="cartOpen()"
                                    class="fa-solid fa-2x fa-cart-arrow-down"></i><span class="count"
                                    ng-init="nOfItems=0">{{nOfItems}}</span> Cart</a>
                        </li>

                    </ul>
                    <form class="navbar-form navbar-left" action="#" method="GET">
                        <div class="input-group">
                            <input ng-model="addSearchItems" ng-change="setFilter()" type="text" class="form-control" placeholder="Search..." id="query" name="search" value="">
                            <div class="input-group-btn">
                                <button ng-click="addProducts()" type="submit" class="btn btn-success"><span
                                        class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="navbar" style="color:white;">
                <ul id="headingpath" class="nav navbar-nav navbar-left">
                    <li><a href="#" ng-click="dress()" style="font-size: 21px;">women</a></li>
                    <li><a href="#" ng-click="shirtsClick()" style="font-size: 21px;">shirts</a></li>
                    <li><a href="#" ng-click="shoess()" style="font-size: 21px;">shoes</a></li>

                </ul>
            </div>
        </nav>


        <div id="wrapper" class="toggled">
            <div class="container-fluid">
                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-show="IsVisi">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <br>
                        </li>
                        <li class="sidebar-brand">
                            <a href="#" class="navbar-brand">
                                <span class="glyphicon glyphicon-user" ng-show="showData"></span> Profile
                            </a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-home" ng-show="showData"></span> Home</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-search" ng-show="showData"></span> Search</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-search" ng-show="showData"></span>
                            <p style="color:#337AB7"> STATISTICS</p>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-tasks" ng-show="showData"></span> Reports</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-stats" ng-show="showData"></span> Statistic</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-search" ng-show="showData"></span>
                            <p style="color:#337AB7"> ADMINISTRATION</p>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user" ng-show="showData"></span> Users</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-envelope" ng-show="showData"></span>
                                Messages</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="completeblock" ng-style="bgStyle">
            <div class="items" style="margin-top: 1%;">
                <div class="row" style="margin-left: 0px ;margin-right: 0px;">
                    <div styl class="col-md-2" style="background-color: white;" ng-show="offData" ng-repeat="item in searchItems | filter: mur">
                        <div class="card" style="box-shadow: 5px 5px 5px ;">
                            <img style="width: 103%;" ng-src="{{item.image}}" alt="">
                            <div class="card-body">
                                <h4>{{item.name}}</h4>
                                <p>{{item.desc}}</p>
                                <h3>Price: &#8377; {{item.price}}</h3>
                                <div><span id="likeicon"><i ng-style="myStyle" ng-click="like($event)"
                                            class="fa-solid fa-2x fa-heart"></i></span><button class="button btn-primary" ng-click="store(item)">Add Cart</button></div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="cartblock" ng-show="cartShow" class="row">
        <div ng-click="backToCart()" id="closecart">X</div>
        <div style="display:inline-flex ;"><img style="width: 34%;" src="./images/carimg" alt="">
            <h2>Cart <span style="color: orange;">Items</span> </h2>
        </div>
        <div class="row" style="margin-bottom: 5px;" ng-repeat="cart in foundList">
            <div class="col-sm-4">
                <img style="height:30% ; width: 40%; margin-left: 5%;" class="card-img" ng-src="{{cart.image}}" alt="" />
            </div>
            <div style="display: inline-block;" class="col-sm-5">

                <h2 style="margin-top: 0px;">{{cart.desc}}</h2>
                <div id="incdec">
                    <p style="font-size: 24px;margin-right: 200px;">Number of Items</p>
                    <div style="display: inline-flex ;">
                        <i type="button" id="incdecbtn" ng-click="decItem(item)" ng-init="count=1" class="fa-solid fa-minus"></i>
                        <h4 id="num">{{count}}</h4>
                        <i i type="button" class="fa-solid fa-plus" id="incdecbtn" ng-click="incItem(item)" ng-init="count=1"></i>
                    </div>

                </div>
                <h4 class="name_price">{{cart.name}} &nbsp; &nbsp; &#8377;{{cart.price}} </h4>

            </div>
            <div class="col-md-2"><button style="font-size: 20px;" class="btn-cart btn-danger" ng-click="remove(cart)">Remove</button></div>
        </div>
        <h4>
            <button ng-click="Payment()" ng-style="btnStyle" class=" btn btn-success ">{{payment}}</button>
        </h4>
        <div ng-show="showMurali">
            <div class="row">

                <div style="padding-top: 5%;" class="col-sm-6 col-sm-offset-2">

                    <form name="myForm">
                        <label for="text">Name</label> <input name="name" ng-pattern="/^[A-Za-z]+$/" ng-model="buyerName" type="text" placeholder="enter your name" style="margin-left: 10%;">
                        <span ng-show="myForm.name.$dirty && myForm.name.$error.pattern" style="color: red;">Invalid
                            name
                        </span><br><br>
                        <label for="text">Surname</label> <input name="suame" ng-pattern="/^[A-Za-z]+$/" ng-model="buyerSurName" type="text" placeholder="surname" style="margin-left: 5%;">
                        <span ng-show="myForm.suame.$dirty && myForm.suame.$error.pattern" style="color: red;">Ivalid
                            Surname</span>
                        <br><br>
                        <label for="text">Mail</label> <input name="mail" ng-model="buyerMail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" type="mail" placeholder="example@gmai.com" style="margin-left: 12%;">
                        <span ng-show="myForm.mail.$dirty && myForm.mail.$error.pattern" style="color: red;">Invalid
                            Email</span>
                        <br><br>

                        <label for="text">Ph Number</label> <input name="number" ng-model="buyerNum" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" type="text" placeholder="+91" style="margin-left: 2%;" name="" id="">
                        <span ng-show="myForm.number.$dirty && myForm.number.$error.pattern" style="color: red;">Invalid
                            number</span><br> <br>
                        <input type="radio" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> Online Payment</label><span style="padding: 0px 10px;">Or</span><input type="radio" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> Cash on delivery</label><br><br>
                        <label for="address">Address</label><br>
                        <!-- <input type="textarea"> -->
                        <textarea name="" id="" cols="35" rows="4"></textarea>
                        <button ng-click="alertSubmit()" style="margin-left: 80%; margin-top: 3%;" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-sm-4 " style="text-align: center;">
                    <img style="width: 100%;margin-top: 13%;" src="./images/writing img.jpg" alt="">
                </div>
            </div>

        </div>

    </div>

    <div id="loginform" ng-show="loginPage">
        <div class="row" style="width: 100%;">
            <div class="col-sm-4">
                <div style="padding-left: 13%;padding-top: 27%;">
                    <h3 style="padding-left: 5%;color: whitesmoke;">𝓛𝓸𝓰𝓲𝓷 𝓣𝓱𝓻𝓸𝓾𝓰𝓱</h3>
                    <div style="margin-top: 11%;">
                        <button id="loginselbtn" ng-style="phnbtnstyle" ng-click="userPhoneLogin()" style="border-radius: 12px;font-size: 16px;">Phone Number</button>
                        <button id="loginselbtn" ng-style="userbtnstyle" ng-click="userLogin()" style="border-radius: 12px;font-size: 16px;margin-left: 5%;">User Name</button>
                    </div>
                </div>
            </div>
            <div ng-show="userForm" style="background-color: white;margin-top: 6%;" class="col-sm-3 ">
                <div>
                    <h2 style="text-align: center;">LogIn Here</h2>
                    <div>
                        <input type="text" id="username" placeholder="Enter User Name">
                        <input type="text" id="username" placeholder="Enter Password"><br>
                        <div style="margin-top: 5%;"><a type="button" ng-click="newUserForm()" href="">New User</a> / <a href="">Forgot username</a></div>
                        <button id="loginbtn">Login</button>

                    </div>
                </div>


            </div>
            <div ng-show="userphoneForm" style="background-color: white;margin-top: 6%;" class="col-sm-3 ">
                <div>
                    <h2 style="text-align: center;">LogIn Here</h2>
                    <div>
                        <input type="text" id="username" placeholder="Enter Mobile Number">
                        <button id="otpbtn" style="margin-left: 69%;margin-top: 4%;">Get OTP</button>
                        <input type="text" id="enterotp" placeholder="Enter OTP"><br>

                        <button style="margin-top: 5%;" id="loginbtn">Login</button>

                    </div>
                </div>


            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div ng-show="newUser" style="background-color: white;margin-top: 4%;" class="col-sm-4 offset-sm-4">
                <h2 style="text-align: center;">Register Here</h2>
                <div>
                    <input type="text" id="username" placeholder="Create User Name">
                    <input type="text" ng-model="createPassword" id="username" placeholder="Create Password">
                    <input type="text" id="username" placeholder="Re-enter  Password">
                    <button style="margin-top: 5%;" id="loginbtn">Register</button>
                    <h3 ng-model="password1">{{password1}}</h3>
                </div>



            </div>
        </div>
    </div>
    <!-- <div id="completeblock"  ng-style="bgStyle"> </div> -->
    <script src="./js/Home.js"></script>
</body>

</html>